<div class="card border-secondary mb-3" >
  <form style="display: inline-block;" (ngSubmit)="createComment()">  
    <div class="row">
      <div class="col-1 pb-1 pl-4">
        <img style="max-height: 50px; max-width: 50px;" src="{{ photoUrl  || '../../../assets/user.png'}}"
          class="mt-2 rounded-circle">
      </div>
      <div class="col-10 pt-3">
        <input type="text" name="content" class="form-control" maxlength="500"  placeholder="Comment" [(ngModel)]="comment.content">
      </div>
    </div>
  </form>
</div>