
.dropdown-item {
    cursor: pointer;
}
.dropdown-toggle {
    cursor: pointer;
}

.dropdown {
    display: flex;
    flex-direction: row;

}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}