<div *ngIf="feed.length === 0">
    <p>Add friemds to see new posts</p>
</div>

<div class="container mt-5">
    <div *ngFor="let post of feed" class="card border-secondary mb-3" style="">
        <div class="card-body" style="padding: 0px;">
            <div class="card-header" >
                <img src={{post?.userPhotoUrl}} class="img-circle rounded-circle mr-1">
                <strong>{{post.userKnownAs}}</strong>
                <p class="timeAgo">{{post.dateOfCreation | timeAgo}}</p>
                <span  class="like" (click)="setLike(post.id)" [ngClass]="{liked: isLiked(post.id)}">
                    <i class="fa fa-heart">{{post.likers.length}}</i>
                </span>
            </div>
        </div>
        <p class="card-text" style="margin: 20px;">{{post.content}}</p>

    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.TotalItems" [itemsPerPage]="pagination.ItemsPerPage"
        [(ngModel)]="pagination.CurrentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>