<div class="container mt-5">
  <div class="row" *ngIf="messages.length == 0">
    <h3>No messages</h3>
  </div>

  <div class="row" *ngIf="messages.length > 0">
    <table class="table table-hover" style="cursor: pointer">
      <tr>
        <th style="width: 20%">Chat With</th>
        <th style="width: 40%">Message</th>
        <th style="width: 20%">Time</th>
      </tr>
      <tr *ngFor="let message of messages" [routerLink]="['/members', 
        message.senderId == userId ? message.recipientId : message.senderId]" [queryParams]="{tab: 3}"
        [ngClass]="{unread: message?.isRead != true && message.recipientId == userId}">
        <td>
          <div *ngIf="message.senderId == userId">
            <img src={{message?.recipientPhotoUrl}} class="img-circle rounded-circle mr-1">
            <strong>{{message.recipientKnownAs}}</strong>
          </div>
          <div *ngIf="message.recipientId == userId">
            <img src={{message?.senderPhotoUrl}} class="img-circle rounded-circle mr-1">
            <strong>{{message.senderKnownAs}}</strong>
          </div>
        </td>
        <td>{{message.content}}</td>
        <td>
          <strong>{{message.messageSent | timeAgo}}</strong>
        </td>
      </tr>
    </table>

  </div>

</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.TotalItems" [itemsPerPage]="pagination.ItemsPerPage"
    [(ngModel)]="pagination.CurrentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>